certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
Flask
fonttools==4.25.0
gunicorn==20.1.0
idna==3.3
isodate==0.6.1
lxml==4.8.0
MarkupSafe
matplotlib
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
munkres==1.1.4
opencv-python-headless
pandas
Pillow==9.0.0
pycountry==22.1.10
pycryptodome==3.14.1
PySocks==1.7.1
python-dateutil
pytz==2021.3
PyYAML==6.0
requests==2.27.1
seaborn
streamlink==3.1.1
torch
torchvision
urllib3==1.26.8
websocket-client==1.2.3
wincertstore==0.2
