/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
    box-sizing: border-box;outline: none; margin: 0px; padding: 0px;
  }

.layout{
    position: relative;
    width: 100%;
    height: 2200px;
    border: none;
    padding: 0%;

    background: #03070f;
}

h5{
    /* MONITORAMENTO DE LOCAL */

    position: absolute;
    height: 64px;
    top: 64px;
    left: 5%;
    padding-top: 0px;
    font-family:'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffffab;
    
    width:fit-content;
    border-right: 4px solid rgba(255,255,255,.75);
    font-size: 64px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-10%); 
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width:12.5 em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}

h4{
    /* AMBIENTE */

    position: absolute;
    width: 100%;
    height: 64px;
    left: 0%;
    top: 187px;

    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 2px;

    /* identical to box height */

    color: #FFFFFF90;
}



.button{
    position: absolute;
    width: auto;
    height: 64px;
    right:  64px;
    top: 64px;
    cursor: pointer;
}

.video{
    /*img*/

    position: absolute;
    width: 70%;
    height: 25%;
    left: 15%;
    top: 270px;

    background: #C4C4C4;
}

.velocimeter{
    position: absolute;
    text-align: center;
    width: 40%;
    height: 384px;
    left: 5%;
    top: 940px;
}
.classes{
    position: absolute;
    width: 40%;
    height: 384px;
    left: 55%;
    top: 940px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;

    color: #FFFFFF90;
}
.pie{
    position: absolute;
    width: 40%;
    height: 384px;
    left: 55%;
    top: 990px;

}
.contPess{
    position: absolute;
    width: 40%;
    left: 5%;
    font-family:'Anonymous Pro', monospace;
    top: 1380px;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF90;
}
.contagem{
    position: absolute;
    width: 40%;
    height: 35em;
    text-align: left;
    left: 5%;
    top: 1440px;
}

.contPess2d{
    position: absolute;
    width: 40%;
    left: 55%;
    font-family:'Anonymous Pro', monospace;
    top: 1380px;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF90;
}
.contagem3d{
    position: absolute;
    width: 40%;
    height: 35em;
    text-align: left;
    left: 55%;
    top: 1440px;
}