<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detect</title>
</head>
<body>
    <h1>Olá</h1>
    {% if request.form['url'] != ''%}
        <img src="/video_feed" id="videoElement">
    {% else %}
        <video autoplay="true" id="videoElement" name="videoElement"></video>
        <script>
            var video = document.querySelector("#videoElement");

            if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                video.srcObject = stream;
                })
                .catch(function (err0r) {
                console.log("Something went wrong!");
                });
            }
        </script>
    {% endif %}
    
</body>
</html>